# Video 3. Python Basics for R&D Scientists - Opening Data Files

In [63]:
import os
import pandas as pd

In [64]:
txt_file = 'data/iris.txt'
excel_file = 'data/iris.xlsx'
csv_file = 'data/iris.csv'

In [65]:
csv_file = 'data/iris.csv'
csv_df = pd.read_csv(csv_file)
csv_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [66]:
csv_df.shape

(150, 5)

In [67]:
txt_file = 'data/iris.txt'
txt_df = pd.read_csv(txt_file)
txt_df.head()

  sepal_length\tsepal_width\tpetal_length\tpetal_width\tspecies
0                         5.1\t3.5\t1.4\t0.2\tsetosa
1                         4.9\t3.0\t1.4\t0.2\tsetosa
2                         4.7\t3.2\t1.3\t0.2\tsetosa
3                         4.6\t3.1\t1.5\t0.2\tsetosa
4                         5.0\t3.6\t1.4\t0.2\tsetosa

In [68]:
txt_file = 'data/iris.txt'
txt_df = pd.read_csv(txt_file, sep='\t')
txt_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [69]:
txt_df.shape

(150, 5)

In [70]:
excel_file = 'data/iris.xlsx'
excel_df = pd.read_excel(excel_file)
excel_df.head()

              0            1             2            3        4
0  sepal_length  sepal_width  petal_length  petal_width  species
1           5.1          3.5           1.4          0.2   setosa
2           4.9          3.0           1.4          0.2   setosa
3           4.7          3.2           1.3          0.2   setosa
4           4.6          3.1           1.5          0.2   setosa

In [71]:
excel_file = 'data/iris.xlsx'
excel_df = pd.read_excel(excel_file, skiprows=1)
excel_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [72]:
excel_df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [77]:
excel_df.index

RangeIndex(start=0, stop=150, step=1)